* {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1B1B1B;
}

/*
    --------- Nav ------------
*/
nav {
    display: flex;
    justify-content: center;
}

.nav a {
    color: #E5E4E2;
    text-decoration: none;
}

.nav a:hover {
    background-color: green;
}

/*
    --------- Nav ------------
*/



/* 
    ----------- Menu -------------
*/



.menu {
    background-color: #2A3439;
    padding: 16px;
    color: darkgrey;
}

.menu a:hover {
    background-color: black;
    color: white;
}


.menu-btn {
    padding: 6px;
    margin-top: 4px;
    width: 90px;
    border: none;
    border-radius: 16px;    
    display: flex;
}

/* 
    ----------- Menu -------------
*/


/*
    ---------- Sub Menu ---------

*/


.sub-menu {
    background-color: #1B1B1B;
    color: white;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.sub-menu-header {
    color: white;
    display: flex;
    justify-content: center;
}

#sub-menu-search {
    height: max-content;
}

.sub-menu-p {
    color: lightpink;
    margin: auto;
    display: flex;
    justify-content: center;
}

/*
    ---------- Sub Menu ---------

*/

.container-html {
    display: grid;
    justify-content: center;
    background-color: lightcyan;
    color: black;
}

.container-css {
    display: grid;
    justify-content: center;
    background-color: yellow;
    color: black;
}

.container-js {
    display: grid;
    justify-content: center;
    background-color: black;
    color: white;
}

.container-py {
    display: grid;
    justify-content: center;
    background-color: lightpink;
    color: black;
}

.container-sql {
    display: grid;
    justify-content: center;
    background-color: lightblue;
    color: black;
}

.container-languages {
    display: grid;
    justify-content: center;
    background-color: black;
    color: white;
}

.bootstrap-container {
    display: grid;
    justify-content: center;
    background-color: #F5F5F5;
    color: black;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 4px;
}

.bootstrap-header {
    display: flex;
    justify-content: center;
}

.bootstrap-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#bootstrap-btn {
    background-color: #2A3439;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    padding: 14px;
}

.w3css-container {
    display: grid;
    justify-content: center;
    background-color: #40E0D0;
    color: black;
    margin-top: 40px;
    padding: 20px;
    border-radius: 4px;
}

.w3css-header {
    display: flex;
    justify-content: center;
}

.w3css-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#css-learn-btn {
    background-color: green;
    color: white;
    border: none;
}

#css-reference-btn {
    background-color: #2A3439;
    color: white;
    border: none;
}

#css-certified-btn {
    background-color: lightpink;
    color:black;
    border: none;
}

#w3css-btn {
    background-color: #2A3439;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    padding: 14px;
}

.cplus-container {
    display: grid;
    justify-content: center;
    background-color: #D0F0C0;
    color: black;
    margin-top: 40px;
    padding: 20px;
    border-radius: 4px;
}

.cplus-header {
    display: flex;
    justify-content: center;
}

.cplus-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#cplus-btn {
    background-color: #2A3439;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    padding: 14px;
}

.java-container {
    display: grid;
    justify-content: center;
    background-color: lightyellow;
    color: black;
    margin-top: 40px;
    padding: 20px;
    border-radius: 4px;
}

.java-header {
    display: flex;
    justify-content: center;
}

.java-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#java-btn {
    background-color: #2A3439;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    padding: 14px;
}

.jquery-container {
    display: grid;
    justify-content: center;
    background-color: yellow;
    color: black;
    margin-top: 40px;
    padding: 20px;
    border-radius: 4px;
}

.jquery-header {
    display: flex;
    justify-content: center;
}

.js-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#jquery-btn {
    background-color: #2A3439;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    padding: 14px;
}


.php-container {
    display: grid;
    justify-content: center;
    background-color: lightpink;
    color: black;
    margin-top: 40px;
    padding: 20px;
    border-radius: 4px;
}

.php-header {
    display: flex;
    justify-content: center;
}

.php-content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#php-btn {
    background-color: #2A3439;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    padding: 14px;
}

#php-btn:hover {
    background-color: black;
}



.html-btns {
    border: none;
    border-radius: 16px;    
}

#html-learn-btn {
    color: white;
    background-color: green;
}

#html-video-btn {
    color: black;
    background-color: yellow;
}

#html-reference-btn {
    color: white;
    background-color: black;
}

#html-certified-btn {
    color: black;
    background-color: lightpink;
}

.header-html {
    display: grid;
    justify-content: center;
}




.container {
    background-color: #1B1B1B;
    text-align: justify;
    width: 100%;
    height: 80%;
}

.container2 {
    background-color: aqua;
}


#logo-menu {
    color: green;
    background-color: none;
}

#logo-menu:hover {
    color: white;
    background-color: 0;
}

#btn-profile:hover {
    color: white;
    background-color: black;
}

#btn-spaces {
    color: white;
    background-color: green;
}

#btn-spaces:hover {
    border-bottom: 2px solid white;
}

#btn-create-website {
    color: black;
    background-color: yellow;
    width: auto;
}

#btn-create-website:hover {
    border-bottom: 2px solid white;
}

#btn-get-certified {
    color: black;
    background-color: lightpink;
    width: auto;
}

#btn-get-certified:hover {
    border-bottom: 2px solid white;
}

#btn-upgrade {
    color: white;
    background-color: mediumslateblue;
    width: auto;
}

#btn-upgrade:hover {
    background-color: mediumpurple;
}

.search-input-logo{
    color: black;
    background-color: green;
    width: max-content;
    height: max-content;
    padding: 12px;
    border-radius: 20px;
    margin-top: 10px;
    margin: auto;
}



#link-pages {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 18px;
}



#profile-bnt {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

/*  

--------- Footer --------------

*/

.menu-footer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.social-medias {
    display: flex;
    margin: 12px;
    justify-content: right;
}

.footer-btns {
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px ;
    padding: 12px;
}

.footer-btns:hover {
    background-color: #2A3439;
}

.footer-icon {
    display: flex;
    justify-content: center;
}

.footer-content a {
    color: white;
    letter-spacing: 1px;
    line-height: 8px;
}

.footer-content a:hover {
    color: green;
    letter-spacing: 1px;
    line-height: 8px;
}

.footer-content {
    text-align: center;
    padding: 20px;
}

.footer-container {
    background-color: #1B1B1B;
    color: white;
    width: 100%;
    height: 45vh;
}

/*  

--------- Footer --------------

*/


aside-content {
    display: flex;
    
    justify-content: right;
}

form {
    background-color: #8AB9F1;
    padding: 20px;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    border-radius: 6px;
}

.form-header{
    display: flex;
    justify-content: left;
    margin: 4px;
}

.form-inputs{
    display: flex;
    justify-content: center;
}

#form-name{
    border-radius: 4px;
    border: none;
    margin: 4px;
}

#form-lastname{
    border-radius: 4px;
    border: none;
    margin: 4px;
}

#form-email {
    border-radius: 4px;
    border: none;
    margin: 4px;
}

#form-password {
    border-radius: 4px;
    border: none;
    margin: 4px;
}

#form-confirm-password {
    border-radius: 4px;
    border: none;
    margin: 4px;
}

.form-header-line {
    height: 2px;
    background-color: #0000CD;
    width: 30%;
}